In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("../fraud_detection/features/average_bacno_min_conam_in_past_7_days.csv").iloc[:,1:]

In [12]:
df

         bacno  average_bacno_min_conam_in_past_7_days
0            0                                0.000000
1            1                             1097.226000
2            2                              131.554493
3            3                              476.330000
4            4                              570.988333
...        ...                                     ...
163180  163882                              284.866667
163181  163883                              259.755000
163182  163884                              545.018750
163183  163885                              283.232500
163184  163886                                0.000000

[163185 rows x 2 columns]

In [9]:
#-----------------------------
# load data
#-----------------------------
df_train = pd.read_csv("/data/yunrui_li/fraud/dataset/train.csv")
df_test = pd.read_csv("/data/yunrui_li/fraud/dataset/test.csv")

In [32]:
df = pd.read_csv("../fraud_detection/features/average_bacno_min_conam_in_past_7_days.csv").iloc[:,1:]
df_train = df_train.merge(df, on = "bacno", how = "left")
df_test = df_test.merge(df, on = "bacno", how = "left")
df = pd.read_csv("../fraud_detection/features/average_bacno_max_conam_in_past_7_days.csv").iloc[:,1:]
df_train = df_train.merge(df, on = "bacno", how = "left")
df_test = df_test.merge(df, on = "bacno", how = "left")

In [33]:
pd.options.display.max_columns = 100

In [34]:
df_train

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,fraud_ind,hcefg,insfg,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey,average_bacno_min_conam_in_past_7_days,average_bacno_max_conam_in_past_7_days
0,6881,113261,38038,513.80,5,0,N,0,N,N,0,5,N,0,33,172652.0,457,59333,N,0,102,0,516056,280.314878,985.859268
1,0,134508,45725,465.62,5,0,N,2,N,N,0,0,N,0,9,105114.0,451,0,N,5817,102,0,4376,600.741176,837.568235
2,6881,15408,188328,513.80,5,0,N,0,N,N,0,5,N,0,6,152458.0,457,59333,N,0,102,0,483434,583.942727,752.358182
3,6716,157159,29967,1016.11,5,62,N,5,N,N,0,5,N,0,5,172946.0,247,50436,N,3281,102,0,1407164,689.564348,1445.934565
4,5975,105985,81305,713.66,5,62,N,4,N,N,0,5,N,0,6,182129.0,263,93775,N,5817,102,0,1051004,448.415577,879.301731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521782,6322,91008,15189,578.38,5,75,Y,8,NaN,NaN,0,6,N,0,4,191642.0,209,38222,N,5817,102,0,1478280,1031.745000,1131.255000
1521783,3226,145107,116252,435.32,5,75,Y,8,NaN,NaN,0,6,N,0,13,102338.0,192,90135,N,1458,102,0,661087,171.325200,859.055600
1521784,6769,162168,93598,1.38,5,75,Y,8,NaN,NaN,0,6,N,0,29,234618.0,373,79246,N,5817,102,0,167073,582.908750,634.662500
1521785,6032,45406,197460,1.38,5,75,Y,2,NaN,NaN,0,6,N,0,24,215218.0,373,79246,N,5817,102,0,338215,667.994706,1172.420000
1521786,6716,48723,176440,406.59,5,75,N,5,NaN,NaN,0,6,N,0,13,163603.0,251,69607,N,2310,102,0,1055258,267.777778,601.974444

In [35]:
df_test

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,hcefg,insfg,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey,average_bacno_min_conam_in_past_7_days,average_bacno_max_conam_in_past_7_days
0,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,102,215328.0,457,59360,N,0,102,0,592489,513.80,513.80
1,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,102,222007.0,457,59360,N,0,102,0,592452,513.80,513.80
2,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,100,170013.0,457,59360,N,0,102,0,590212,513.80,513.80
3,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,100,165914.0,457,59360,N,0,102,0,590209,513.80,513.80
4,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,102,215311.0,457,59360,N,0,102,0,592488,513.80,513.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421660,5975,147326,79511,633.76,5,62,N,2,N,N,5,N,0,116,111228.0,343,87282,N,5817,102,0,1187507,0.00,0.00
421661,6716,14305,136493,952.84,5,62,N,5,N,N,8,N,0,107,85839.0,245,48784,N,5859,102,0,1182598,0.00,0.00
421662,5975,156543,137963,713.42,5,62,N,4,N,N,5,N,0,111,184921.0,263,98326,N,5817,102,0,898724,713.42,713.42
421663,6231,156543,137964,903.94,5,62,N,5,N,N,5,N,0,114,144434.0,251,17763,N,5817,102,0,971467,713.42,713.42
421664,6769,131985,98699,760.09,5,62,N,4,N,N,5,N,0,116,162804.0,251,78019,N,3294,102,0,101230,0.00,0.00

In [21]:
16222/60/60

4.506111111111111

In [22]:
df_train = pd.read_csv("../fraud_detection/features/train.csv")
df_test = pd.read_csv("../fraud_detection/features/test.csv")

/ldap_home/yunrui.li/.pyenv/versions/3.6.5/envs/fraud/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
df = pd.read_csv("../fraud_detection/features/average_bacno_max_conam_in_past_7_days.csv").iloc[:,1:]
df

         bacno  average_bacno_max_conam_in_past_7_days
0            0                                0.000000
1            1                             1097.226000
2            2                             1222.710145
3            3                              570.890000
4            4                              647.712500
...        ...                                     ...
163180  163882                              658.267778
163181  163883                              465.820000
163182  163884                              974.893125
163183  163885                             1007.665000
163184  163886                                0.000000

[163185 rows x 2 columns]

In [39]:
df_train.hcefg.value_counts()

5    1412039
0      53925
1      33055
6      12581
8       3820
2       3365
7       1788
9        901
3        313
Name: hcefg, dtype: int64

In [40]:
df_train.contp.value_counts()

5    1369806
4      69965
2      66147
6      13593
3       2148
1         84
0         44
Name: contp, dtype: int64

In [41]:
df_train.etymd.value_counts()

5     404611
2     377669
4     320502
8     243995
0     130022
9      30076
1      10339
3       2350
6       1978
7        228
10        17
Name: etymd, dtype: int64

In [13]:
df = pd.read_csv("../fraud_detection/features/average_mchno_time_agg.csv")

In [12]:
df

         mchno  average_mchno_mean_conam_in_past_7_days
0            0                               490.810931
1            1                                 0.000000
2            2                                 0.000000
3            3                                 0.000000
4            4                                 0.000000
...        ...                                      ...
102778  103303                                 0.000000
102779  103304                                 0.000000
102780  103305                                 0.000000
102781  103306                                 0.000000
102782  103307                                 0.000000

[102783 rows x 2 columns]

In [32]:
df = pd.read_csv("../fraud_detection/features/average_mcc_mean_conam_in_past_7_days.csv")
df

     mcc  average_mcc_mean_conam_in_past_7_days
0      0                            2157.160000
1      1                               0.000000
2      2                             965.435286
3      3                             612.272428
4      4                            1144.490000
..   ...                                    ...
455  455                               0.000000
456  456                             623.688571
457  457                             520.930059
458  458                               0.000000
459  459                               0.000000

[460 rows x 2 columns]

In [36]:
df = pd.read_csv("../fraud_detection/features/average_mcc_median_conam_in_past_7_days.csv")
df

     mcc  average_mcc_median_conam_in_past_7_days
0      0                              2157.160000
1      1                                 0.000000
2      2                               941.418952
3      3                               563.235672
4      4                              1144.490000
..   ...                                      ...
455  455                                 0.000000
456  456                               623.364286
457  457                               513.800000
458  458                                 0.000000
459  459                                 0.000000

[460 rows x 2 columns]

In [14]:
df_train = df_train.merge(df, on = "txkey", how = "left")
df_test = df_test.merge(df, on = "txkey", how = "left")

In [16]:
df_train[df_train.mchno == 93775]

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,...,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey,agg_mchno_mean_conam_in_past_7_days,agg_mchno_mean_conam_in_past_14_days
4,5975,105985,81305,713.66,5,62,N,4,N,N,...,182129.0,263,93775,N,5817,102,0,1051004,414.30582,394.415259
22994,5975,152291,200925,195.19,5,62,N,4,N,N,...,113047.0,263,93775,N,5817,102,0,925500,414.30582,394.415259
93558,5975,50988,195987,229.88,5,62,N,4,N,N,...,192618.0,263,93775,N,5817,102,0,931489,414.30582,394.415259
144194,5975,124855,136626,272.12,5,62,N,4,N,N,...,204622.0,263,93775,N,5817,102,0,1437879,414.30582,394.415259
192159,5975,111546,142339,711.45,5,62,N,4,N,N,...,220520.0,263,93775,N,5817,102,0,1423728,414.30582,394.415259
193231,5975,152291,200925,229.88,5,62,N,4,N,N,...,95558.0,263,93775,N,5817,102,0,1500525,414.30582,394.415259
237900,5975,2505,206607,218.95,5,62,N,4,N,N,...,192032.0,263,93775,N,5817,102,0,1234912,414.30582,394.415259
249895,5975,82603,208378,266.55,5,62,N,4,N,N,...,190139.0,263,93775,N,5817,102,0,1695403,414.30582,394.415259
274568,5975,7885,26661,634.99,5,62,N,4,N,N,...,92506.0,263,93775,N,5817,102,0,1196195,414.30582,394.415259
289213,6834,131832,41179,280.75,5,62,N,4,N,N,...,194906.0,263,93775,N,5817,102,0,852994,414.30582,394.415259
329226,5975,131832,28459,193.61,5,62,N,4,N,N,...,72313.0,263,93775,N,5817,102,0,1503614,414.30582,394.415259
378925,5975,82603,208378,278.62,5,62,N,4,N,N,...,185630.0,263,93775,N,5817,102,0,1770693,414.30582,394.415259
397597,5975,131832,28459,193.61,5,62,N,4,N,N,...,72041.0,263,93775,N,5817,102,0,924330,414.30582,394.415259
398217,5975,55487,34121,683.25,5,62,N,4,N,N,...,101356.0,263,93775,N,5817,102,0,1643258,414.30582,394.415259
402912,5975,13227,175758,263.15,5,62,N,4,N,N,...,81837.0,263,93775,N,5817,102,0,1404780,414.30582,394.415259
411915,6189,132617,95450,397.42,5,62,N,4,N,N,...,173255.0,263,93775,N,5817,102,0,1430310,414.30582,394.415259
489223,6834,65786,195865,683.25,5,62,N,4,N,N,...,201242.0,263,93775,N,5817,102,0,1508403,414.30582,394.415259
595523,6834,131832,28460,185.50,5,62,N,4,N,N,...,75544.0,263,93775,N,5817,102,0,1379466,414.30582,394.415259
614355,6189,90730,24593,807.53,5,62,N,4,N,N,...,131142.0,263,93775,N,5817,102,0,1731452,414.30582,394.415259
622805,5975,141340,173699,773.66,5,62,N,4,N,N,...,95306.0,263,93775,N,5817,102,0,1626774,414.30582,394.415259
628779,5975,99808,180218,284.95,5,62,N,4,N,N,...,125256.0,263,93775,N,5817,102,0,1501774,414.30582,394.415259
859790,6834,109669,157498,260.85,5,62,N,4,N,N,...,210209.0,263,93775,N,5817,102,0,1637337,414.30582,394.415259
939262,6189,45491,173794,683.25,5,62,N,4,N,N,...,111620.0,263,93775,N,5817,102,0,1302450,414.30582,394.415259
965104,6834,68482,163575,741.03,5,62,N,4,N,N,...,135433.0,263,93775,N,5817,102,0,1156691,414.30582,394.415259
995953,5975,106674,101372,513.80,5,62,N,4,N,N,...,183644.0,263,93775,N,5817,102,0,1447192,414.30582,394.415259
1000812,6834,131832,28460,193.61,5,62,N,4,N,N,...,72937.0,263,93775,N,5817,102,0,1302303,414.30582,394.415259
1075228,6834,131832,28460,185.50,5,62,N,4,N,N,...,71852.0,263,93775,N,5817,102,0,865924,414.30582,394.415259
1080197,5975,76120,208719,656.38,5,62,N,4,N,N,...,133537.0,263,93775,N,5817,102,0,1172398,414.30582,394.415259
1138996,5975,76120,208719,702.97,5,62,N,4,N,N,...,185650.0,263,93775,N,5817,102,0,861508,414.30582,394.415259
1181221,6189,45792,34047,201.39,5,62,N,4,N,N,...,172847.0,263,93775,N,5817,102,0,1348873,414.30582,394.415259
1215019,6834,131832,28458,185.50,5,62,N,4,N,N,...,174153.0,263,93775,N,5817,102,0,1552149,414.30582,394.415259
1254750,6189,36163,163904,542.29,5,62,N,4,N,N,...,211839.0,263,93775,N,5817,102,0,1020143,414.30582,394.415259
1261544,5975,152291,200925,240.27,5,62,N,4,N,N,...,213938.0,263,93775,N,5817,102,0,1362999,414.30582,394.415259
1378526,6189,25028,122507,229.88,5,62,N,4,N,N,...,171438.0,263,93775,N,5817,102,0,1008696,414.30582,394.415259
1426865,5975,124855,136625,254.99,5,62,N,4,N,N,...,213134.0,263,93775,N,5817,102,0,1561291,414.30582,394.415259
1496529,6189,36163,163904,504.30,5,62,N,4,N,N,...,92708.0,263,93775,N,5817,102,0,1530897,414.30582,394.415259
1509757,5975,151693,186907,229.88,5,62,N,4,N,N,...,165442.0,263,93775,N,5817,102,0,1620294,414.30582,394.415259